* {
    margin: 0;
    box-sizing: border-box;
    font-family:"Cairo", sans-serif;
}

header{ height: 47px;
background-color: #f5f5f5;
font-size: 14px;
display: flex;
}

#main{ display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1.3fr;
    grid-template-rows: 80px 80px 431px 263px;
}

#main>div {border: solid 1px;
justify-content: center;}

#logo {grid-column: 2;}

#nave { grid-column: 3/6;
    font-size: 16px;
   letter-spacing: 2px;
   word-spacing: 50px;
font-family: "Cairo", sans-serif;}

#menu {grid-column: 2;
grid-row: 2;
width: 292.5px;
height: 511.59px;
}

#busca {grid-column: 3/6;
grid-row: 2;
width: 847.5px;
height: 50.59px;}

#banner {grid-column: 3/6;
grid-row: 3;
width: 847.5px;
height:431px;}

#prod01{width: 262.5px;
height: 270px;
grid-row: 4;
grid-column: 2;}

#prod02{width: 262.5px;
height: 270px;
grid-row: 4;
grid-column: 3;}

 #prod03{width: 262.5px;
height: 270px;
grid-row: 4;
grid-column: 4;}

#prod04{width: 262.5px;
 height: 270px;
grid-row: 4;
grid-column: 5;}

#email{height: 14px;
    width: 14px;}

#facebook{height: 14px;
width: 8px;} 

#twitter{width: 13px;
height: 14px;}

#pinterest{width: 10px;
height: 14px;}

#language{width: 27px;
height: 14px;}

#user{width: 10px;
height: 14px;}
        

